<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <p><%= notice %></p>
    <h1>Tweet一覧</h1>
    <% @tweets.each do |tweet| %>
    <div class="row">
      <h4><strong><%= tweet.content %></strong></h4>
      <%= link_to "編集", edit_tweet_path(tweet.id), class: 'btn btn-default btn-sm btn-success' %>
      <%= link_to "削除", tweet_path(tweet.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn btn-danger' %>
    </div>
    <% end %>
  </div>
</div>
<div id="page-tweets-btn" class="page-tweets-btn">
    <p><a class="move-page-tweets" id="move-page-tweets">▲</a></p>
</div>